*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.section {
  max-width: 120rem;
  margin-inline: auto;
}

.container {
  margin-inline: 3rem;
}

.nav {
  position: sticky;
  z-index: 1;
  top: 0rem;
  margin: auto;
  padding-inline: 0;
  background-color: #1e1a1b;
  color: #fff8f1;
  container-type: inline-size;
  container-name: nav;
}
.nav .buttonWrapper {
  height: 4.0625rem;
  padding-block: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .buttonWrapper .nav__logo,
.nav .buttonWrapper a {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fff8f1;
  text-decoration: none;
}
.nav__button {
  display: flex;
  gap: 5rem;
}
.nav .lt820px {
  display: none;
}
@container nav (width<62.5rem) {
  .nav__button {
    display: none;
  }
  .nav .lt820px {
    display: unset;
  }
  .nav .lt820px img {
    width: 2.25rem;
    display: flex;
    justify-content: space-between;
  }
}

.main .container {
  margin-inline: auto;
  padding-inline: 3rem;
  padding-block: 11.25rem;
}
.main .container#video {
  padding-inline: unset;
  padding-block: unset;
}
.main__video {
  overflow: hidden;
  margin: 0px auto;
}
.main__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__info {
  text-align: center;
  letter-spacing: -0.02em;
  color: #1e1a1b;
}
.about__info h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.375rem;
}
.about__info p {
  font-family: "Apple SD Gothic Neo";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}
.about__info a {
  font-family: "Apple SD Gothic Neo";
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: -0.02em;
  color: #fff8f1;
  text-decoration: none;
}

.enter {
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #1e1a1b;
  padding: 0.75rem 2.5rem;
  border-radius: 2.125rem;
}

.about__hover {
  text-align: center;
  letter-spacing: -0.02em;
  color: #1e1a1b;
}
.about__hover h1 {
  text-transform: capitalize;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.375rem;
  margin-bottom: 4.5rem;
}
.about__hover .v-hover {
  display: block;
  height: 44.5rem;
}
.about__hover .v-hover .v1 {
  position: relative;
}
.about__hover .v-hover .v1:hover img:last-child {
  opacity: 0;
}
.about__hover .v-hover .v2 {
  position: relative;
  margin-left: 34.5rem;
}
.about__hover .v-hover .v2:hover img:last-child {
  opacity: 0;
}
.about__hover .v-hover .v3 {
  position: relative;
  margin-left: 69rem;
}
.about__hover .v-hover .v3:hover img:last-child {
  opacity: 0;
}
.about__hover img {
  display: block;
  position: absolute;
  transition: opacity 0.5s;
  overflow: hidden;
}

#history {
  height: 108.625rem;
  background-color: #1e1a1b;
}
#history .about__history {
  text-align: center;
  letter-spacing: -0.02em;
  color: #fff8f1;
}
#history .about__history h1 {
  text-transform: capitalize;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.375rem;
}

.about__news {
  text-align: center;
  letter-spacing: -0.02em;
  color: #1e1a1b;
}
.about__news h1 {
  text-transform: capitalize;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.375rem;
}

.about__servicelink {
  height: 41.5rem;
  background-color: #d7d7d7;
  text-align: center;
  letter-spacing: -0.02em;
  color: #1e1a1b;
}
.about__servicelink h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.375rem;
  padding-top: 11.25rem;
}
.about__servicelink p {
  font-family: "Apple SD Gothic Neo";
  font-weight: 700;
  font-size: 3rem;
  line-height: 64px;
  padding-top: 4.5rem;
  padding-bottom: 1.5rem;
}
.about__servicelink a {
  font-family: "Apple SD Gothic Neo";
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: -0.02em;
  color: #fff8f1;
  text-decoration: none;
}
.about__servicelink .about__linkButtons {
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1.25rem;
}

.footer {
  background-color: grey;
  color: white;
  font-size: 0.875rem;
  container-type: inline-size;
  container-name: footer;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer li {
  list-style: none;
}
.footer svg {
  fill: white;
}
.footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}
.footer h2 {
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}
.footer li {
  margin-bottom: 0.5rem;
}
.footer__logo {
  margin-bottom: 0.75rem;
}
.footer__extLinkWrap {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
@container footer (width < 71.25rem) {
  .footer .column:first-of-type {
    grid-row: 1/span 2;
  }
  .footer .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.footer .column {
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
}